*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar{
    background-color: #04364A ;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 3rem;
    color: aliceblue;
}

.link{
    color: aliceblue;
    text-decoration: none;
    font-size: large;
}
.home{
    height: 90vh;
    background-image: linear-gradient(45deg, #64CCC5, #ffffff) ;
    color: #176B87;
    font-size: 10rem;
    text-shadow: 0.5rem 0.5rem #64CCC5;
    text-align: center;
    padding-top: 10%;
}